*,
*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Akaya Telivigala", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script&display=swap");

body{
  background-color: darksalmon;
}

@media (max-width:600px) {
  body{
    background-color: deeppink;
  }
}

@media (max-height:300px) {
  body{
    background-color: blueviolet;
  }
}